@font-face{
    font-family:"華康墨字體";
    src:url(../fonts/華康墨字體-01.ttf);
    src:url(../fonts/華康墨字體-02.ttf);
}
@font-face{
    font-family:"華康中圓體";
    src:url(../fonts/華康中圓體-01.ttf);
    src:url(../fonts/華康中圓體-02.ttf);
}