footer {
    background-color: #008080;
}

.footer-box {
    max-width:1180px;
    margin: 0px auto;
}

.footer-content{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem 0;
}

.connection {
    order: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.connection h2 {
    color: #ffffff;
    font-family: "華康墨字體";
    font-size: 1.2rem;
    margin:0 auto 0.3rem;
    opacity:.9;
}

.connection span {
    font-size: 1rem;
}

.connection p {
    color: #ffffff;
    font-family: "華康中圓體";
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.03rem;
    opacity: .6;
}

.icon-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.4rem 0;
    opacity: .6;
}

.icon {
    width: 1.5rem;
    margin: 0 0.5rem;
}

.icon img {
    width: 100%;
}

.copyright {
    color: #ffffff;
    font-family: "華康墨字體";
    font-size: 0.6rem;
    opacity: .6;
}

.google-map {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.8rem;
}

iframe {
    width: 100%;
    height: 100%;
}