header {
    position: fixed;
    top:10%;
    z-index: 100;
    writing-mode: vertical-lr;
    left: -82px;
    transition:left 1.2s ;
}

header:hover{
    left: 0px;
}

header::after{
    content: "導覽列 / 選單";
    color: #ffffff;
    font-family: "華康中圓體";
    font-size: 16px;
    padding: 50px 10px 50px 10px;
    display: inline-block;
    background-color: rgba(0, 128, 128,0.7);
    border-radius: 0% 100% 100% 0%;
    position: relative;
    transform: translateY(-50%);
    top:50%;
}

.nav {
    background-color: rgba(0, 128, 128);
    border: 3px solid #4da6a6;
    border-radius: 0% 33% 33% 0%/0% 5% 5% 0%;
    padding: 10px 20px;
}

.item {
    color: #ffffff;
    font-family: "華康中圓體";
    font-size: 16px;
    padding: 10px 10px;
    display: inline-block;

}

.item:hover {
    background-color: #00c234;
}

#mascot_nav {
    width: 50px;
    position: absolute;
    top: -33px;
    left: 15px;
}

#mascot_nav img {
    width: 100%;
}
