.main-box h2 {
    border-bottom: .2rem solid #d64d00
}

.text-box:nth-of-type(1)~.text-box::before {
    background: repeating-linear-gradient(90deg, #d64d00 0, #d64d00 3%, transparent 3%, transparent 4%)
}

.first-topic-text h2 {
    border-bottom: .2rem solid #d64d00
}

.imgbox-text:nth-of-type(1) {
    top: 28%;
    right: 43%
}

.imgbox-text:nth-of-type(2) {
    top: 20%;
    right: 10%
}

.imgbox-text:nth-of-type(3) {
    top: 45%;
    right: 60%
}

.imgbox-text:nth-of-type(4) {
    top: 37%;
    right: 10%
}

.imgbox-text:nth-of-type(5) {
    top: 50%;
    right: 10%
}

.imgbox-text:nth-of-type(6) {
    top: 56%;
    right: 45%
}

.imgbox-text:nth-of-type(1)::after {
    content: "↜";
    color: #fff;
    font-size: 50px;
    position: absolute;
    transform: rotate(60deg);
    right: 0;
    top: 100%;
    opacity: .8
}

.imgbox-text:nth-of-type(2)::before {
    content: "⇙";
    color: #ffc909;
    font-size: 50px;
    position: absolute;
    right: 50%;
    top: 100%;
    opacity: .5
}

.second-topic-text h2 {
    border-bottom: .2rem solid #d64d00
}

.second-topic-box span::before {
    content: "";
    width: 5rem;
    height: .05rem;
    margin-right: .3rem;
    background-color: #d64d00
}

.second-topic-box span::after {
    content: "";
    width: 5rem;
    height: .05rem;
    margin-left: .3rem;
    background-color: #d64d00
}